In [34]:
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
with open("hu.html") as f:
    page = BeautifulSoup(f, "lxml")

In [9]:
title = page.select("title")[0].get_text()

In [12]:
print(title.upper())

INTERNATIONALHU.COM | IMPACT YOUR FUTURE | HU UNIVERSITY OF APPLIED SCIENCES UTRECHT

In [13]:
headings = page.select("h2")

In [18]:
for heading in headings:
    print(heading.get_text().strip())

${label}
Search our programmes
Discover HU
Study in Utrecht
More HU
HU International
Programmes
More HU Sites

In [26]:
flyer_title = page.select(".flyer__content__title")

In [27]:
heading_title = flyer_title[0].get_text()

In [28]:
print(heading_title)

Study in Utrecht

In [29]:
flyer_text = page.select(".flyer__content__text")

In [37]:
text = flyer_text[0].get_text()

In [33]:
print(text)

Studying at HU means studying in a beautiful medieval city in the heart of the Netherlands. Utrecht is a real student city and is hosting more than 70,000 students from 125 countries.

In [39]:
df = pd.DataFrame([{
    "title" : heading_title,
    "text" : text
}])

In [40]:
df

                                                text             title
0  Studying at HU means studying in a beautiful m...  Study in Utrecht

In [41]:
df.to_csv("hu.csv")