In [13]:
"""
I scraped this page:
http://www.restaurantolijfje.nl/en/restaurant-menu/
"""
import pandas as pd
from bs4 import BeautifulSoup

with open("scrape-restaurant.html") as f:
    page = BeautifulSoup(f, "lxml")

In [4]:
def get_text(selector):
    return page.select(selector)[0].get_text()

In [5]:
title = get_text("title")
print(title)

Menu - Restaurant Olijfje - Warm and cold tapas and mezze dishes

In [6]:
menu_section = get_text(".menu-section-title")
print(menu_section)

Cold Starters

In [27]:
items = page.select("tr")
dishes = []

for item in items:
    cells = item.select("td")
    dish = cells[0].get_text().strip().replace("\n", " - ")
    price = cells[1].get_text()
    dishes.append({
        "title" : dish,
        "price" : float(price.strip().replace(",", "."))
    })
    
df = pd.DataFrame(dishes, columns = ['title', 'price'])
df.head()

                                               title  price
0  Olijfje dip -  Garlic sauce, olives and herb b...   4.95
1  Humus -  Perhaps the most famous and classic m...   4.95
2  Tzatziki -  Refreshing dish of Turkish yoghurt...   4.95
3  Barbunya pilaki -  Kidney beans, carrot, onion...   5.95
4  Haydari -  Delicious Greek cream yoghurt, fres...   6.95

In [28]:
df.to_csv("scrape-restaurant.csv")