[< index](README.md)
# 17 - Pandas: combining data sets using `merge()` and `concat()`

In [2]:
# Often, you want to combine different datasets. Pandas offers two methods to do this: merge() and concat().
# concat() is the most obvious of the two, it just 'pastes' one dataset after another.
import pandas as pd

series1 = pd.Series([1,2,3,4,5])
series2 = pd.Series([6,7,8,9,10])

pd.concat([series1, series2]) # Note that you need to put the two series in a list

0     1
1     2
2     3
3     4
4     5
0     6
1     7
2     8
3     9
4    10
dtype: int64

In [3]:
# Note how the index is kept, so every index number is now used twice
# to prevent that use the ignore_index argument
pd.concat([series1, series2], ignore_index = True)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
# We are now concatting on the index ('vertically'), to create a new column next 
# to the other, use the axis parameter
pd.concat([series1, series2], axis = 1)

   0   1
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [5]:
# merge() does something more complex: it combines the datasets based on a common value in
# one of the colums in both datasets. This can be some kind of identifier, and is very comparable
# to what you would do in SQL statements with the JOIN operator
# For example, let's say that we have two datasets: one with the titles of YouTube videos,
# and one with the views for those videos. The datasets are not in the same order (so we can't use .concat())
# but they do have a unique ID we can use

titles = pd.DataFrame(
    ["Fenton the dog", "Siberian kitten", "Chimps vs raccoon"], # The titles
    index = ["3GRSbr0EYYU", "gqVO7Z-Bres", "Rs7u2TTPXFE"], # Index is the ID
    columns = ['titles'] # Name of the column
)

views = pd.DataFrame(
    [311, 1851710, 19356552],
    index = ["gqVO7Z-Bres", "Rs7u2TTPXFE", "3GRSbr0EYYU"],
    columns = ['views']
)

titles.head()

                        titles
3GRSbr0EYYU     Fenton the dog
gqVO7Z-Bres    Siberian kitten
Rs7u2TTPXFE  Chimps vs raccoon

In [6]:
# As you can see, the index is used for the id's, so we can join by the index on both sides
pd.merge(titles, views, left_index = True, right_index = True)

                        titles     views
3GRSbr0EYYU     Fenton the dog  19356552
gqVO7Z-Bres    Siberian kitten       311
Rs7u2TTPXFE  Chimps vs raccoon   1851710

In [7]:
# There's actually a shortcut for this common usecase, you can use the join() method (remember SQL?)
# from one of the two dataframes
titles.join(views)

                        titles     views
3GRSbr0EYYU     Fenton the dog  19356552
gqVO7Z-Bres    Siberian kitten       311
Rs7u2TTPXFE  Chimps vs raccoon   1851710

In [8]:
# If the common value is not on the index, you can use the 'on' argument
# to give the column name this is common both datasets
# Let's imagine that the ids in the index are now in a column called 'id'
titles["id"] = titles.index
views["id"] = views.index

views.head()

                views           id
gqVO7Z-Bres       311  gqVO7Z-Bres
Rs7u2TTPXFE   1851710  Rs7u2TTPXFE
3GRSbr0EYYU  19356552  3GRSbr0EYYU

In [9]:
# Now we can use the 'on' method
pd.merge(titles, views, on = 'id')

              titles           id     views
0     Fenton the dog  3GRSbr0EYYU  19356552
1    Siberian kitten  gqVO7Z-Bres       311
2  Chimps vs raccoon  Rs7u2TTPXFE   1851710