[< index](README.md)
# 18 - Pandas: importing structured data formats

In [3]:
# Pandas has methods for importing structered data formats like CSV, JSON and Excel
# They also convert directly to dataframes. Let's try importing a CSV file that contains
# the names of all children born in 2014, including gender and number of times a name was given
import pandas as pd

df = pd.read_csv("svb-names-2014.csv")
df.head() # Show the first five names

     name  number  gender
0  Sophie     836       1
1    Daan     751       0
2    Emma     728       1
3    Bram     727       0
4   Milan     700       0

In [15]:
# To save a DataFrame back to a file you can use the to_* methods, like to_json and to_csv

In [16]:
df = pd.read_csv("svb-names-2014.csv")
df.to_json("svb-names-2014.json")